<div class="w-16 py-5 border h-full flex-col justify-between items-center bg-white hidden md:flex lg:flex">
    <div class="flex flex-col justify-center gap-2 w-full items-center">
        <img src="assets/img/task-assignment.png" alt="" class="mb-8 w-8 drop-shadow-md">
        <div class="flex flex-col gap-8 justify-center items-center w-full">
            <button [routerLink]="item.url" class="w-full relative" [ngClass]="{'text-primary':item.url===active}"
                *ngFor="let item of menu">
                <div *ngIf="item.name===active" class="h-full w-[4px] bg-primary absolute rounded-e-md top-0 left-0">
                </div>
                <span class="hover:bg-primary/10 rounded-full w-14 h-14">
                    <i [class]="item.icon" class="drop-shadow-md"></i>
                </span>
            </button>
        </div>
    </div>
    <button><i class="bi bi-door-closed-fill"></i></button>
</div>
<div class="flex md:hidden lg:hidden overflow-x-auto w-full justify-center gap-4 py-4 px-2">
    <button class="text-gray-400" *ngFor="let item of menu" [routerLink]="item.url" [ngClass]="{'text-primary':item.url===active}">
        <div *ngIf="item.name===active" class="h-full h-[2px] bg-primary absolute rounded-e-md bottom-0 left-0">
        </div>
        <span class="hover:bg-primary/10 rounded-full w-14 h-14">
            <i [class]="item.icon" class="drop-shadow-md"></i> {{item.name}}
        </span>
    </button>
</div>