<div (click)="selectPeople(people!)"
    class="flex items-center gap-2 justify-between  rounded-md p-3 hover:bg-primary/10 transition-color duration-300 cursor-pointer">
    <div class="flex items-center gap-4">
        <i class="bi-person-circle text-xl"></i>
        <h3 class="text-gray-800 line-clamp-2">{{people.full_name}}</h3>
    </div>
    <div class="flex gap-2 truncate hidden md:flex lg:flex">
        <span class="poppin-light" *ngFor="let s of people.skill; let l = last">{{s.name}}{{!l?', ':''}}</span>
    </div>
    <div class="flex items-center gap-8">
        <span class="text-primary hidden md:flex lg:flex text-sm w-16"># {{people.age}}</span>
    </div>
</div>