<nav
    class="w-full md:h-20 lg:h-20 h-fit md:p-12 lg:p-12 py-4 px-4 flex justify-between items-start md:items-center lg:items-center ">
    <h1 class="text-2xl text-gray-800 font-semibold">{{title}}</h1>
    <div class="flex items-center ">
        <div class="relative flex items-center gap-4 hidden md:flex lg:flex">
            <i class="bi bi-search absolute left-3">
            </i>
            <input type="text" class="bg-gray-100/50 rounded-full py-1 pr-3 pl-10 "
                [placeholder]="'Search '+(title==='All tasks'?'task':'people')">
            <app-users-avatar></app-users-avatar>
            <button *ngIf="title==='All tasks'" class="mr-4"> <i class="bi bi-sliders2"></i></button>

        </div>
        <button *ngIf="title==='All tasks'" (click)="addTask()"
            class="rounded-full bg-primary shadow-md hover:bg-primary/80 transition-color duration-300"><i
                class="bi bi-plus  flex justify-center items-center w-8 h-8 text-white"></i></button>
    </div>
</nav>
<app-sidebar class="flex md:hidden lg:hidden"></app-sidebar>