<div class="grid grid-cols-1 gap-8">
    <app-card-container name="Today" [amount]="todayTask.length" [open]="true">
        <div class="container">
            <app-task-item-list *ngFor="let item of todayTask| filterCompleted: filter" [task]="item"
                [format]="'today'"></app-task-item-list>
        </div>
    </app-card-container>
    <app-card-container name="Upcomming" [amount]="upcomingTask.length">
        <div class="container">
            <app-task-item-list *ngFor="let item of upcomingTask| filterCompleted: filter" [task]="item"
                [format]="'other'"></app-task-item-list>
        </div>
    </app-card-container>
    <app-card-container name="Previous" [amount]="previousTask.length">
        <div class="container">
            <app-task-item-list *ngFor="let item of previousTask| filterCompleted: filter" [task]="item"
                [format]="'other'"></app-task-item-list>
        </div>
    </app-card-container>
</div>